<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjSincronizaRh.Properties.Settings.Bd_SincronizaConnectionString"
            connectionString="Data Source=PC-BRENO\SQLSERVER2022;Initial Catalog=Bd_Sincroniza;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>